<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appsettings>
    <add key="broadcastportno" value="8080"></add>
    <add key="token" value="qwertyuioplkjhgfdsazxcvbnm09876543210"></add>
    <add key="alloweddevices" value="123,345"></add>
    <add key="arduinoport" value="COM5"></add>
    <add key="homeconfigpath" value="home.json"></add>
    <add key="ebswitch" value="D11"></add>
    <add key="coolerfanswitch" value="D13"></add>
    <add key="temperatureratio" value="42:40"></add>
    <add key="batteryratio" value="11:12.5"></add>
    <add key="powermanagerinterval" value="20000"></add>
    <add key="batterycalibration" value="1.20"></add>
  </appsettings>
</configuration>    